---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"symbol":"BTCUSDT","priceChange":"-50.00000000","priceChangePercent":"-0.074","weightedAvgPrice":"67500.50000000","prevClosePrice":"67480.50000000","lastPrice":"67430.50000000","lastQty":"0.00100000","bidPrice":"67430.49000000","bidQty":"0.50000000","askPrice":"67430.51000000","askQty":"0.50000000","openPrice":"67500.50000000","highPrice":"67800.00000000","lowPrice":"67100.00000000","volume":"20000.00000000","quoteVolume":"1350000000.00000000","openTime":1777737600000,"closeTime":1777824000000,"firstId":4000000000,"lastId":4000200000,"count":200000}'
  recorded_at: Sun, 03 May 2026 16:00:00 GMT
recorded_with: VCR 6.0.0
